/* Basic Browser Default Reset */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15;
    margin: 10;
    word-spacing: 5px;
  }
  nav a:hover {
    color: #0000dd; /* Hex colour. */
  }
  nav ul { display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    font-size: 15px;
  }
  /* nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  } */
  
  nav ul > li {
    margin-left:10px;
    margin-right:10px;
  }
  /*
   * Colours JUST FOR TESTING...
   */
  
  /* h1 { background-color: lightseagreen; }  */
  nav { background-color: lightsalmon; }
  body { background-color: lightslategray; }
  footer { background-color: plum; }

  body ol {
    font-weight: bold;
  }
  
h1 {
    font-size: 25px;
    text-align: center;

}
h2 {
    font-size: 18px;
    text-align: center;

}

body {
    display: grid;
    /* Set widths for columns... */
    /* Column 1: 25%; Column 2: 75%;*/
    grid-template-columns: 15% 85%;
    /* Set heights for rows... */
    grid-template-rows: 
    40
    auto
    auto
    auto;
  
       
    /*
     * Using the "grid-area" names we define...
     * We can write out where each one belongs!
     * Remember to represent EACH column AND row for best results!
     */
    grid-template-areas:
      "logo nav"
      "h1 h1"
      "h2 h2"
      "ol ol"
      ;   
  }
  .logo-container { grid-area: logo; }

  h1 {grid-area: h1;}
  h2 {grid-area: h2;}
 
  nav { grid-area: nav; }

  ol{ grid-area: ol; } 